<div class="hidden lg:col-span-2 lg:block">
    <nav class="flex space-x-4">
        <a href="/dashboard" class="text-white text-sm font-medium rounded-md bg-white bg-opacity-0 px-3 py-2 hover:bg-opacity-10" aria-current="page">Рабочий стол</a>

        <a href="/contragents" class="text-cyan-100 text-sm font-medium rounded-md bg-white bg-opacity-0 px-3 py-2 hover:bg-opacity-10">Контрангенты</a>

        <a href="/accounts" class="text-cyan-100 text-sm font-medium rounded-md bg-white bg-opacity-0 px-3 py-2 hover:bg-opacity-10">Аккаунты</a>

        <a href="/orders" class="text-cyan-100 text-sm font-medium rounded-md bg-white bg-opacity-0 px-3 py-2 hover:bg-opacity-10">Заказы</a>

        <a href="/security/action/logout" class="text-cyan-100 text-sm font-medium rounded-md bg-white bg-opacity-0 px-3 py-2 hover:bg-opacity-10">Выход</a>
    </nav>
</div>